@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ================== RESET =================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 80px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    /* background-image: url(web\ bg.mp4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

h1 {
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color:#fff;
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
  }

/* ============ UTILITY CLASSES ================== */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container {
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover{
    color: var(--accent-color);
}

/* ============ TOP BANNER ================== */
/* .top-banner {
    background-color: rgb(16, 202, 202);
    background-size: 300px;
}

.banner-text{
    color: #fff;
    padding: 15px 30px;
    text-align: center;
} */

/* ============ NAV BAR ================== */
nav{
    position: sticky;
    top: 0;
    left: 0;
    color: beige;
    background-color: rgba(0, 0, 0, 0.54);
    padding: 10px 0; 
}
.logo{
    width: 250px;
    float: left;
    clear: both;

}
.logo h3{
    color: beige;
    font-size: 2em;
    padding: 20px 0;
}
.main-nav {
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.nav-links ul li a{
    color: var(--primary-text-color);
    color: beige;
    font-size: 1.3em;


}
/* ============ HEADER ================== */

.geoBtn{
    height: 400px;
    width: 400px;
    background: red;
    border-radius: 50%;
    box-shadow:inset 0 0 1px 15px #ca0e0e, 0 0 3px 5px #ea1111;
    border: 0px;
    margin-bottom: 20px;
}
.geoBtn:hover{
    background: rgb(44, 255, 44);
    box-shadow: 0 0 10px 15px #36c805fe, 0 0 10px 12px #80f15afe;

}
.geoBtn span{
    font-size: 15em;
}
.MessageAfterCall{
    text-align: center;
    font-size: larger;
}
.material-symbols-outlined {
    color: #fff;
    font-size: 3em;

}
.main-content{
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #10131369;
}
#greeting{
    color: #fff;
    font-size: 3em;
    margin-bottom: 70px;
    font-family: sans-serif;
    font-weight: 600;
}
.contact-container {
    justify-content: space-evenly;
    height: 100vh;
}
.contact-left{
    flex-direction: column;
    align-items: start;
}

.contact-left-title h2{
    font-weight: 700;
    color: #ff0077;
    font-size: 80px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 50%;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;

}
.contact-inputs{
    flex-direction: column;
    width: 700px;
    height: 150px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 20px;
    background-color: #fff7d8;
    margin-bottom: 20px;
    font-size: 2em;
}

.contact-left textarea{
    height: 250px;
    padding-top: 15px;
    border-radius: 20px;
    font-size: 2em;
}
.contact-inputs:focus{
    border: 2px solid #ff00d4;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 56px;
    color: #fff;
    width: 100%;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff844f, #fa6d86);
    cursor: pointer;
}
.contact-left button span{
    font-size: 56px;
    font-weight: 700;
    padding-left: 10px;
}
/* ================= 'HOW IT WORKS' SECTION ================= */
#HowItWorks{
    background-color: #10131369;
    text-align: justify;
    padding: 150px 0;
}
.ques {
    color: #f99d00;
    font-weight: 700;
    margin-bottom: 15px;
}

/* =================CONTACT SECTION ================= */

#contacts{
    padding: 100px 10%;
    margin-top: 5px;
}
#contacts h2{
    text-align: center;
    color: #15ccc6;
    margin-bottom: 20px;
    font-size: 5em;
    font-family: 'Poppins';
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-info a{
    display: flex;
    text-decoration: none;
    color: #ededed;
    font-size: 5em;
    margin: 40px 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-info a:hover{
    color: #00abf0;
}
.contact-info a i{
    margin-right: 10px;
    font-size: 1.2em;
}       
.contact-info hr{
    border: none;
    width: 100%;
    height: 5px;
    background-color: #15ccc6;
    border-radius: 10px;
    margin-bottom: 20px;

}
footer{
    color: #fff;
    background-color: #15ccc696;
    padding: 30px 0;
}
